apipkg==1.4
certifi==2022.12.7
chardet==3.0.4
codecov==2.0.9
coverage==4.0.3
execnet==1.4.1
httpretty==0.8.14
idna==2.5
pep8==1.7.0
pluggy==0.4.0
py==1.10.0
pytest==3.1.3
pytest-cache==1.0
pytest-cov==2.5.1
pytest-pep8==1.0.6
python-coveralls==2.9.1
pyyaml>=4.2b1
requests>=2.20.0
tox==2.7.0
urllib3>=1.23
virtualenv==15.1.0
